# For python
*__pycache__*
.venv/

# Ignore the cache in pytest
.pytest_cache*

# Ignore single use files
*.ipynb
*.html

# Let's not save the database to git
*.db

# Ignore environment files for safety
.env

# Ignore settings for your local machine
.vscode*
*checkpoint*
